html,
body,
#root {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(253, 228, 255);
  background: linear-gradient(
    0deg,
    rgba(253, 228, 255, 1) 0%,
    rgba(124, 156, 254, 1) 100%
  );
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: none;
  margin: 0px;
}

.controlKeys {
  position: absolute;
  z-index: 1;
  width: 20rem;
  left: 50%;
  margin-left: -10rem;
  bottom: 13%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#popup {
  position: absolute;
  width: 100rem;
  height: 100rem;
  left: 0%;
  top: 0%;
  backdrop-filter: blur(10px);
  background: rgba(100,100,100,0.5);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.title {
  z-index: 1;
  font-size: 0.8rem;
  color: darkgray;
  position: absolute;
  width: 100%;
  bottom: 2%;
  text-align: center;
}

.title > a {
  color: rgb(79, 189, 249);
}

@media (max-width: 768px) {
  .controlKeys {
    display: none;
  }
  .title {
    display: none;
  }
}

@media (max-height: 450px) {
  .controlKeys {
    display: none;
  }
  .title {
    display: none;
  }
}
